@import 'tailwindcss';

@utility container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 1.5rem 2rem;
}

@layer base {
  img {
    @apply block max-w-full;
  }
}

@theme {
  --animate-menu: menu-slide-in 300ms ease;

  --color-primary-200: #acef75;
  --color-primary-300: #91ee77;
  --color-primary-400: #17e880;
  --color-primary-700: #2e482c;
  --color-primary-800: #16281f;
  --color-primary-900: #0f1c15;
  --color-primary-950: #030504;
}

@keyframes menu-slide-in {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
